<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <a href="/">Home</a> <br>
    <h1 style="text-align: center;">Hello <%= data.username%>!</h1>
    
    <p>Your name : <%= data.getFullName()%></p>
    <p>Your email: <%= data.email %></p>

    <a href="/edit/<%= data.id %>">Edit</a> ||
    <a href="/delete/<%= data.id %>" onclick="return confirm('are you sure?')" >Delete</a>
    
    
</body>
</html>